<section class="main-body">
    <header class="space">
        <div class="header" fxLayout.lt-md="column" fxLayout="row"
            fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center center" fxLayoutGap.lt-sm="10px">
            <div>
                <div class="name">Sandeep Jadhav</div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="contact">
                <div>Angular Developer</div>
                <div>
                    <button mat-flat-button aria-label="Example icon button with a menu icon"
                        (click)="navigateToLinkedIn()" fxHide.lt-sm>
                        <mat-icon class="fab fa-linkedin"></mat-icon>
                        LinkedIn
                    </button>
                    <button mat-flat-button aria-label="Example icon button with a menu icon" (click)="copyText()"
                        fxHide.lt-sm>
                        <mat-icon class="fa-solid fa-address-book"></mat-icon>
                        +91 7760847075
                    </button>
                </div>
                <div>

                </div>
            </div>
        </div>
    </header>

    <section class="introduction space">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
            fxLayoutGap="20px">
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                <h1 class="title">Hi, I'm Sandeep Jadhav! 👋</h1>
                <h3 class="subtitle">I'm an innovative and task-driven professional with 1.5 years of experience in web
                    design and development. I have a record of success in consistently identifying and providing the
                    technological needs of companies through ingenious innovation. My skills include creating user
                    interfaces, writing and testing codes, troubleshooting simple/complex issues, and implementing new
                    features based on user feedback.</h3>
            </div>
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
                <img src="assets/hiker.gif" alt="" class="all-img">
            </div>
        </div>
    </section>
    <section class="introduction space">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
            fxLayoutGap="20px">
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
                <img src="assets/tech.gif" alt="" class="all-img">
            </div>
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                <h1 class="title">What I do.</h1>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img *ngFor="let logo of logo" src="{{logo}}" alt="" class="tech-logo">
                </div>
                <div class="subtitle">
                    <h2>CRAZY FULL STACK DEVELOPER WHO WANTS TO EXPLORE EVERY TECH STACK</h2>
                    <div>
                        <h3 class="line">⚡ Develop highly interactive Front end / User Interfaces for your web and
                            mobile
                            applications</h3>
                        <h3 class="line">⚡ Progressive Web Applications ( PWA )</h3>
                        <h3 class="line">⚡ Integration of third-party services such as Firebase/ AWS</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="introduction space">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
            fxLayoutGap="20px">
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                <h1 class="title">Proficiency.</h1>
                <div *ngFor="let tech of techskills" class="flex subtitle">
                    <div class="subtitle proficient_name">{{tech.name}} :</div>
                    <div class="progress">
                        <div class="progress-value" [style.width]="tech.value + '%'"></div>
                    </div>
                    <div class="subtitle">{{tech.value}} %</div>
                </div>
            </div>
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
                <img src="assets/skill.gif" alt="" class="all-img">
            </div>
        </div>
    </section>
    <section class="introduction space">
        <div>
            <h1 class="title">Experience</h1>
            <div fxLayout="column" fxLayoutAlign.lt-md="start center">
                <mat-card class="example-card hovercard" >
                    <img mat-card-image src="assets/logo.png" alt="Photo of a Shiba Inu" class="company-logo">
                    <mat-card-content>
                        <div class="align">
                            <h2 class="title-exp">Associate Software Engineer</h2>
                            <h2 class="title-exp">From 2021 - Present</h2>
                            <h3 class="subtitle">I am responsible for designing, developing, and maintaining web
                                applications using the latest technologies and best practices. I am proficient in front-end
                                and back-end development and have experience with popular web development frameworks such as
                                Angular, Javascript, Html, Css, Python</h3>
                        </div>
                    </mat-card-content>
                </mat-card>
    
            </div>
        </div>
    </section>
    <section class="introduction space">
        <div>
            <h1 class="title">Projects.</h1>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <mat-card class="example-card hovercard">
                    <img mat-card-image src="assets/logo.png" alt="Photo of a Shiba Inu" class="company-logo">
                    <mat-card-content>
                        <div class="align">
                            <h2 class="title-exp">Circle NFT Badge</h2>
                            <h2 class="title-exp">Associate Software Engineer</h2>
                            <h3 class="subtitle">Circle NFT badge is a tool that issues unique NFT badges to employees based on their mastery levels in circles. Circles are groups within the organization that identify and elevate technologists with the latest skills. As employees enhance their skills, they receive new NFT badges of higher levels. The aim is to combine business and tech skills and mentor people across circles to succeed.</h3>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card hovercard">
                    <img mat-card-image src="assets/logo.png" alt="Photo of a Shiba Inu" class="company-logo">
                    <mat-card-content>
                        <div class="align">
                            <h2 class="title-exp">CRM
                                System for Food Vendor</h2>
                            <h2 class="title-exp">Associate Software Engineer</h2>
                            <h3 class="subtitle">This is a CRM software designed for use in a city with multiple food outlets. End-users call the food vendor who is the software user. Each customer is registered and assigned a unique ID. Orders are placed based on the assigned customer ID, typically their mobile number.</h3>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card hovercard">
                    <img mat-card-image src="assets/logo.png" alt="Photo of a Shiba Inu" class="company-logo">
                    <mat-card-content>
                        <div class="align">
                            <h2 class="title-exp">HACKATHON: Employee 360</h2>
                            <h2 class="title-exp">Front-end Developer</h2>
                            <h3 class="subtitle">Task management is a tool for creating and managing tasks throughout the lifecycle of a project. The tool allows assigning tasks to multiple users along with their work status. Assignees can update the status of work daily and describe the tasks completed. The manager can track all tasks and their status. This system provides instant information on the work in progress, making it easy to manage tasks and data.</h3>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    <section class="introduction space">
        <div>
            <h1 class="title">Achievement & Certification.</h1>
            <div class="content">
                <div fxLayout="row wrap" fxLayoutGap="16px grid">
                  <div
                    fxFlex="50%"
                    fxFlex.xs="100%"
                    fxFlex.sm="100%"
                    *ngFor="let certificate of certificate"
                  >
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content
                        style="display: flex; align-items: center; gap: 30px; justify-content: start;">
                        <div><img src="{{certificate.org_logo}}" alt=""></div>
                        <div>
                            <div style="display: flex; align-items: center;">
                                <div class="title-exp">Organization : </div>
                                <div class="subtitle"> {{certificate.org}}</div>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <div class="title-exp" style="width: 105px;">Name : </div>
                                <div class="subtitle" style="word-break: break-word;"> {{certificate.name}}</div>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <div class="title-exp">Credential ID : </div>
                                <div class="subtitle"> {{certificate.credential_id}}</div>
                            </div>
                        </div>
                    </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
        </div>
    </section>
    <footer class="introduction space">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
                <h1 class="title"> Contact Me<span><img src="assets/telephone.png"  alt="" class="telephone"></span></h1>
                <h2 class="subtitle">Discuss a project or just want to say hi? My Inbox is open for all.
                </h2>
                <div >
                    <h1 class="title-exp">Contact : +91 7760847075</h1>
                    <h1 class="title-exp">Email : sandeep.jadhav2409@gmail.com</h1>
                </div>
            </div>
            <div fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%" fxLayoutAlign=" center center" fxHide.lt-md>
                <img src="assets/mail.gif" alt="">
            </div>
        </div>
    </footer>

</section>